<mat-toolbar>
    <mat-toolbar-row>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span>New Application</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>

        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <i class="fa-solid fa-square-envelope"></i>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <i class="fa-brands fa-linkedin"></i>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <i class="fa-brands fa-square-github"></i>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
