/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500..600&display=swap');

html,
body {
    font-family: 'Quicksand' !important;
    font-size: 100%;
    height: 100%;
    color: #012;
    background-color: #FFF;
    margin: 5px 5px 5px 5px !important;
}

$my-custom-level: (
  font-family: Quicksand,
  font-weight: 400,
  font-size: 1rem,
  line-height: 1,
  letter-spacing: normal,
);

@mixin define-typography-level($config) {
  font-family: map-get($config, font-family);
  font-weight: map-get($config, font-weight);
  font-size: map-get($config, font-size);
  line-height: map-get($config, line-height);
  letter-spacing: map-get($config, letter-spacing);
}

// Usage example
.element {
  @include define-typography-level($my-custom-level);
}
